@{
    ViewBag.Title = "Resource not found";
}<div class="alert alert-danger my-2">
    <h1>ACCESS DENIED</h1>
    <hr />
    <h5>You do not have permission to do this</h5>
</div>
<a asp-controller="Home" asp-action="Index" style="width: auto;" class="btn btn-warning">Back to Home</a>