@{ 
    ViewBag.Title = "Not Found";
}
<div class="alert alert-danger my-2" >
    <h1>ERROR 404</h1>
    <hr />
    <h5>Empoyee Not Found</h5>
</div>
<a asp-controller="Home" asp-action="Index" style="width: auto;" class="btn btn-warning">Back to Home</a>