@{
    ViewBag.Title = "Resource not found";
}<div class="alert alert-danger my-2">
    <h1>SOME THING WENT WRONG WHILE PROcESSING PLEAsE CONTACT TO SUPPORT TEAM</h1>
    <hr />
  
</div>
<a asp-controller="Home" asp-action="Index" style="width: auto;" class="btn btn-warning">Back to Home</a>