@{ 
    ViewBag.Title = "Resource not found";
}<div class="alert alert-danger my-2">
    <h1>@ViewBag.ErrorMessage</h1>
    <hr />
    <h5>Page Not Found</h5>
</div>
<a asp-controller="Home" asp-action="Index" style="width: auto;" class="btn btn-warning">Back to Home</a>